body{
    padding: 0px;
    margin: 0px;
    margin-bottom: 0%;

    background-image: url("https://thumbs.gfycat.com/NextSourHapuka-size_restricted.gif"); 
    background-repeat: repeat;
    color: whitesmoke;
}
#h1{
    letter-spacing: 25px;
    text-align: center;
    text-indent: 2%;
    word-spacing: 20px;
    font-size: 100px;
}

#lower{
    text-align: center;
    font-style: italic;
    color: light whitesmoke;
}
#main_img{
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      
}

#img_cap{
    text-align: center;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

main{
    padding: 5px;
    margin: 25px;
    letter-spacing: 1px;
}

#timeline{
    padding: 100px;
    margin-top: 20px;
    margin: 35px;
    text-align: center;
}

#div1{
    padding-top: 150px;
    text-align: center;
    font-style: oblique;
}

#year{
    
        width:10%;
        margin: auto;
        text-align: center;
        align-content: center;
        background-color:white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
        color:#222;
        padding:10px;
        flex:1 0 auto;
        height:26px;
        text-align:center;
        font-weight:bold;
        font-size:1.5em;
      
}

#info{
    text-indent: 25px;
    width:80%;
    margin: auto;
  flex:3 1 auto;
  padding:20px;
  overflow:hidden;
  height:80px;
  padding-bottom: 35px;

}

footer{
    text-align: center;
}

#created{
    padding-bottom: 0px;
}
  
